.Mainpage{
    
    display: flex;
    justify-content: center;
  
   margin-top: 200px;
}
.Mainpage__mcqbutton{
   
   width: 100px;
   margin-right: 10px;
    font-size: 1.1rem;
    
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color:#7B68EE;
    color: whitesmoke;
    
    
   
}
.Mainpage__theorybutton{
    
   width: 120px;
   margin-left: 10px;
    font-size: 1.1rem;
    
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color:#7B68EE;
    color: whitesmoke;
}