.mcqPage{
  
    display: flex;
   height: 90vh;
   padding-top:10px;
   padding-left: 10px;
   padding-right: 10px;
   background-color: white;
}
.mcqpage__sidebar{
    
    width: 20vw;
    border-right: 4px solid 	#D3D3D3;
}
.mcqpage__questions{
   
    padding-left: 15px;
   
    width: 80%;
   
    margin-left: 30px;
   
}
.mcqpage__submitButton{
    margin-top: 10px;
   
    font-size: 1.1rem;
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color:#7B68EE;
    color: whitesmoke;
    
    
    display: inline-block;
   
} 
.firstContainer{
    display: flex;
   
    padding-top: 0px;
    margin-top: 0px;
}
.mcqpage__questionNumber{
     
     width:60px;
     height: 40px;
     background:#7B68EE ;
     padding-top:5px;
     font-size: 1rem;
   
     font-weight: 500;
     color:white;
     border-radius: 10px;
     text-align: center;
}

.mcqpage__questionsdisplay{
    width: 90%;
  
    margin-left:0px;
}
.mcqpage__endButton{
    margin-top: 10px;
    font-size: 1.1rem;
    width: 17%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color:#7B68EE;
    color: whitesmoke; 
   
}
.mcqpage__container{
    display: flex;
  
}
.mcqpage__info{
    display: flex;
    margin-left: 0px;
    
}
.mcqpage__info>p{
    margin-right: 20px;
    color:		black;
    font-size: 1rem;
    padding-top: 0px;
}
.mcqpage__topicdisplay{
   
   width: 400px;


   border:2px solid #D3D3D3;
   padding-left:10px;
  
   height: 50vh;
   margin-top: 37px;
   margin-right: 70px;
  
}
.MCQquestion__marksinput{
    
    text-align: center;
    margin-left: 10px;
    
}
.mcqpage__buttons{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    padding-top: 20px;
    width: 90%;
    
}
.mcqpage__topicdisplay>label{
    margin-right: 10px;
    margin-top: 10px;
}