.MCQsidebar{
    /* border:1px solid black; */
    /* margin:10px 10px 0px 10px; */
    background-color: 	#7B68EE;
    border-radius: 10px;
    /* padding: 10px 10px 0px 5px; */
    text-align: center;
    /* padding-top: 15px; */
    /* padding-bottom: 10px; */
    color:white;
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    width: 20%;
    margin-top: 10px;
    margin-left: 5px;
    /* margin-left: 10px; */
    text-align: center;
    padding-top: 10px;
   

}